/* Name: Amber Nobel
Student number: 11819359 */

h1 {
  font-family: Arial Black;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-family: Arial Black;
  font-size: 32px;
  text-align: center;
}
